.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-spinner{
  background: #282c34;
  visibility: inherit;
  pointer-events: none;
  display: flex;
  color: aqua;
  background-color: blue;
  text-anchor: start;
  fill-opacity: initial;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:white;
  font: oblique;
  columns: 12;
  font: 100;
  right: 122;
  align-self: auto;
  display: none;
  speak-as: kas;
  letter-spacing: normal;
  justify-content: flex-start;
  text-emphasis: none;
  range: auto;
  scale: 0 0 0 0;
  nav-down: auto;
  margin-block-end: 0%;
  margin-block: 12%;
  text-align: right;
  letter-spacing: normal;
  display: inline;
  speak-as: kas;
  color: aquamarine;
  
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
